<div class="banner">
  <div class="text-center text-white">
    <h1>Create your list of movies</h1>
  </div>
</div>


<div class="container">
<% @lists.each do |list| %>
<div class="card"><%= link_to list.name, list_path(list) %></div>
<% end %>
</div>

<%= link_to 'New list', new_list_path %>
